/*---------------- font style ---------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
 
/*------------ common styles start------- */
body{
    margin: 0%;
   
    font-family: 'Poppins', sans-serif;
    
}
/*------------ common styles end------- */

/* -------header section start------- */
header{
    background-color: #2D25A0;
    margin-bottom: 50px;
   
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.fa-bars{
    list-style-type:none ;
   background-color:#E02C6D ;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    padding-left: 30px;
    color: whitesmoke;
   font-size: 40px;
   margin-top: 40px;
   margin-left: 20px;
   position: relative;
}
.nav-main-options:hover .drop-down{
    transform:;
    transition: transform 2s ease;
    display: inline-flex;
}
.drop-down{
    display: none;
   list-style-type:none ;
   background-color: rgb(87, 87, 93);
   padding: 13px;
  position: absolute;
  margin-top: 40px;
}
.nav-options{
    padding: 7px;
}
.menu-deco{
    
    
}  
.nav-main-options a{
text-decoration: none;
color: whitesmoke;
margin-right:30px;
}
.nav-main-options a:hover {
    background-color: #E02C6D;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    
}
.all-buttons{
    margin-top: 33px;
}
.all-buttons a{
    background-color: #E02C6D;
    color: whitesmoke;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    margin-top: 20px;
    margin-right: 20px;
}

.top-elements{
    display: flex;
    justify-content: space-between;
    padding: 60px;
    margin-right: 50px;
    margin-left: 50px;
}




.banner-frame{
    
    width: 556.01px;
    height: 438px;
    position: relative;
}

.banner-thumbnail img{
    width:100%;
}
.banner-detail{
   
    position: absolute;
    top: 0%;
    width: 315px;
    height: 415px;
    display: none;
    text-align: center;
    margin-left: 65px;
    border-radius: 5px;
}
.banner-heading{
    font-size: 30px;
    color:#E02C6d ;
    background-color: whitesmoke;
    border-radius: 5px;
}
.banner-frame:hover .banner-detail{
    transform: scale(1.01);
    transition:transform 0.2s ease 0.3;
    display: block;
    background-color: #e02c6ea4;
    color: whitesmoke;
    padding: 30px;
    padding-top: 0%;
   

}
.banner-frame:hover .banner-thumbnail{
    transform: scale(1.1);
    transition: transform 0.1s ease-in;
}
.heading{
    width: 485px;
    height: 230px;
    color: whitesmoke;
    
}
.live-option a{
    background-color: #E02C6D;
    color: whitesmoke;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}
.live-option{
      width: 168px;
      height: 44px;}
.live-option:hover{
    transform: scale(1.1);
    transition:transform 0.2s ease-in-out;
}

.main-heading{
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 5px;
   
}   
/*------------ Header section end------- */

/* -------main section start------- */


.players{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 165px;
}

.player{
    padding: 15px;
    width: 330px;
    height: 474px;
    box-shadow: 10px 10px 20px rgba(209, 209, 209, 0.698);
    margin: 20px;
    border-radius: 7px;
}
.player-info{
    text-decoration: none;
    color: rgb(32, 32, 32);
}
.player:hover{
    transform: scale(1.03);
    transition: transform 0.2s ease-in-out;
    box-shadow: 10px 10px 40px rgba(197, 62, 130, 0.404);
}

.player-name{
    font-size: 28px;
    font-weight: 700;
}

.player-photo img{
    width: 100%;
    border-radius: 7px;
}
/* -------main section end------- */

/*------------ high light section start------- */
.high-light{
    display:flex;
    grid-template-columns: repeat(2,1fr);
    justify-content:center;
    align-items: center;
    margin-bottom: 158px;
   
}
.high-light-detail{
    width: 469px;
    height: 309px;
    margin-right: 66px;
}
.high-light-thumbnail img{
    width: 567px;
    height: 427px;
    border-radius: 10px;
}
.high-light-heading{
    font-size: 48px;
    margin-bottom:0%;
}
/*------------ high light section end------- */

/*------------ footer start------- */
.footer-info {
   margin: auto;
    width: 483.87px;
    height: 213px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
footer img{
    width: 483.87px;
    height: 110px;

    
}
.social-sites a{
    color: lightslategrey;
    font-size: 30px;
    padding: 10px;
   
}
.social-sites a :hover{
    color: #E02C6D;
    transform: scale(1.3);
}
/*------------ footer end------- */

/*------------------ media quearies---------- */

    /*-------- Mobile devices------- */
@media only screen and (max-width:688px) {
   .players{
    grid-template-columns:repeat(1,1fr);
    width: 100%;
   }
   .fa-bars{
       font-size: 30px;
       padding-left: 5px;
       padding-right: 5px;
       background-color:#2D25A0;
       
   }
   .fa-sign-out-alt{
       font-size: 15px;
   }
   .all-buttons a{
       font-size: 15px;
   }
   .drop-down{font-size: 10px;
   flex-direction: column;
   align-items: flex-start;
   width: 90px;
   height: 135px;
  
   margin-top: 47px;
  
   
}
.nav-options{
    font-size: 15px;
    padding: 3px;
    margin-bottom: 5px;
    padding-right:3px;
    margin-right: 0%;
   
    
}
.nav-main-options{
    display: block;
}
.main-heading{
    font-size: 35px;
    display: block;
}
.top-elements{
    display: block;
    margin: 0%;
    padding: 0%;
}
.banner-thumbnail img{
    width:370px;
    height: 300px;
    margin: 0%;
    padding: 0%;
}
.heading{
    width: 450px;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
   
}
header{
    height: 650px;
}
.banner-detail{
    width: 210px;
    height: 263px;
    font-size: 11.5px;
    margin-left: 40px;
}
.banner-heading{
    font-size: 20px;
    margin-left: 0%;
    margin-right: 0%;
    padding: 0%;
}
.high-light{
    display: block;
}
.high-light-heading{
    font-size: 35px;
   
    flex-wrap: wrap;
    margin: 10px;
}
.high-light-info{
    font-size: 15px;
    flex-wrap: wrap;
    margin: 10px;
    width: 300px;
}
.live-option{
    margin: 10px;
}
.high-light-video iframe{
    width:100%;
    
}
footer img{
    width:50%;
    margin-left: 60px;
}
.social-sites{
    width: 50%;
}


}
/*----------- teb media quearis------------ */
@media only screen and (max-width:792px){.players{
    grid-template-columns:repeat(2,1fr);
    width: 100%;
   }
   .fa-bars{
       font-size: 30px;
       padding-left: 5px;
       padding-right: 5px;
       background-color:#2D25A0;
       
   }
   .fa-sign-out-alt{
       font-size: 15px;
   }
   .all-buttons a{
       font-size: 15px;
   }
   .drop-down{font-size: 10px;
   flex-direction: column;
   align-items: flex-start;
   width: 90px;
   height: 135px;
  
   margin-top: 47px;
  
   
}
.nav-options{
    font-size: 15px;
    padding: 3px;
    margin-bottom: 5px;
    padding-right:3px;
    margin-right: 0%;
   
    
}
.nav-main-options{
    display: block;
}
.main-heading{
    font-size: 35px;
    display: block;
}
.top-elements{
    display: block;
    margin: 0%;
    padding: 0%;
}
.banner-thumbnail img{
    width:370px;
    height: 300px;
    margin: 0%;
    padding: 0%;
}
.heading{
    width: 450px;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
   
}
header{
    height: 650px;
}
.banner-detail{
    width: 210px;
    height: 263px;
    font-size: 11.5px;
    margin-left: 40px;
}
.banner-heading{
    font-size: 20px;
    margin-left: 0%;
    margin-right: 0%;
    padding: 0%;
}
.high-light{
    flex-direction: column;
    align-items: center;
}
   
}
.high-light-heading{
    font-size: 35px;
   
    flex-wrap: wrap;
    margin: 10px;
}
.high-light-info{
    font-size: 15px;
    flex-wrap: wrap;
    margin: 10px;
    width: 300px;
}
.live-option{
    margin: 10px;
}
.high-light-video iframe{
    width:100%;
    
}
footer img{
    width:50%;
    margin-left: 60px;
}
.social-sites{
    width: 50%;
}


}
